* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #675bf1;
  --new: #04be00;
}
p {
  font-size: 14px;
  line-height: 18px;
}

.containerItem {
  width: calc(25% - 75px / 4);
  height: 150px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  padding: 15px;
}
.containerItem__title,
.containerItem__description,
.containerItem__status > p:first-child {
  font-weight: bold;
}
.containerItem__status--new {
  color: var(--new);
}
.containerItem__status--doing {
  color: var(--doing);
}
.containerItem__status--done {
  color: var(--primary);
}
.containerItem__linkBreak {
  height: 3px;
  background: var(--primary);
}
.containerItem__description > p:last-child {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
a {
  text-decoration: none;
}
a:-webkit-any-linl {
  color: black;
}
