.containerHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: var(--primary);
}
.containerHeader__left>button{
    width: 200px;
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.containerHeader__right>input{
    width: 500px;
    height: 50px;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 15px;
    background-color: transparent;
    padding-left: 20px;

}
.containerHeader__right>input::placeholder{
    color: #bbb;
}
.containerHeader__right>button{
    width: 100px;
    height: 50px;
    font-size: 24px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    cursor: pointer;
}